# Python 虚拟环境 
venv/ 
env/ 
# 缓存文件 
__pycache__/ 
*.pyc 
# 环境变量文件 
.env 
# 系统文件（Mac） 
.DS_Store 
# 系统文件（Windows） 
Thumbs.db 

# Logs and checkpoints
/logs/high_level_go2/
/logs/high_level_go2_reward_shaping/
/logs/logs/high_level_go2_reward_shaping/
*.pt

.vscode/launch.json
change-list.txt
